@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.menu-icon{
    width: 35px;
    height: 30px; 
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.mm_line{
    width: 25px;
    height: 3px;
    background-color:#706f81;
    border-radius: 2px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
}
header .logo img{
    width: 117px;
    height: 40px;
}
.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.log{
    display: flex;
    width: 215px;
    justify-content: space-around;
}
.log-in{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90px;
}
.log .in1 img{
    width: 15px;
    height: 20px;
}
.log .in2 a{
    text-decoration: none;
    color: #5611A5;
}
.log .sign-up button{
    border: 1px solid #E3EDFE;
    background-color: #ffffff;
    color: #2677F9;
    padding: 3px;
    width: 80px;
    border-radius: 5px;
    box-shadow: 1px 1px #CDE0FD;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.log #bt-sign-up:hover{
    border: #426ba8;
    background-color: #5611A5;
    box-shadow: 1px 1px #426ba8;
    color: #ffffff;
}
.menu{
    margin-right: 125px;
}
ul li:nth-child(5),
ul li:nth-child(6){
    display: none;
}
ul li:nth-child(-n+3){
    margin-right: 70px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav a{
    color: #82809C;
    text-decoration: none;
}
nav a:hover {
    color: #c9c3c3;
}
section{
    position: relative;
}
#sub-section{
    margin-bottom: 25px;
}
section .area1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 701px;
}
section .area1 h1{
    font-size: 50px;
    color: #5611A5;
}
section .area1 p{
    font-size: 13px;
    font-weight: 600;
    margin-top: 30px ;
    margin-bottom: 25px;
    color: #84829D;
}
section .area1-left button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: auto;
    border: none;
    color: #ffffff;
    background: linear-gradient(to right, #4f74ee 40%, #26E0FA);
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 18px 8px 18px;
    cursor: pointer;
    margin-top: 25px;
}
section .area1-left button:hover{
    background: linear-gradient(to right, #83cfda 40%, #869de9);
}
section .area1-right img{
    width: 700px;
    height: 750px;
    position: absolute;
    right: 0;
}
.linha{
    margin-top: 100px;
}
.linha .lh{
    display: flex;
    justify-content: center;
}
.linha .l-h{
    display: inline-block;
}
.linha .lh .l-h:first-child{
    background-color: #7C21E8;
    width: 32px;
    height: 9px;
}
.linha .lh .l-h:nth-child(2){
    background-color: #26DFF9;
    width: 70px;
    height: 9px;
}
section .area-2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}
section .area-2 h1{
    font-size: 30px;
    color:#5611A5;
    margin-top: 50px;
    margin-bottom: 100px;
}
section .area-2 h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#5611A5;
}
section .area-2 p{
    font-size: 12px;
    color:#82809C;
}
section .area-2 .how-started{
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    cursor: pointer;
}
section .area-2 .how--started:hover{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -webkit-transform: scale(0.2);
    transform: scale(1.1);
}
section .area-2 .how-started > .how--started:nth-child(-n+3){
    margin-right: 30px;
}
section .area-2 .how-started .how--started{
    flex:1;
    width: 300px;
    height: auto;
}
section .area-2 .how-started .how--started img{
    width:220px;
    height: auto;
}
section .area-3{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 701px;
}
section .area-3-left img{
    position: absolute;
    width: 45%;
    height: 750px;
    margin-top: 50px;
    left: 0;
}
section .area-3-right .linha{
    width: 100px;
    height: 8px;
}
section .area-3-right p{
    font-size: 15px;
    font-weight: 500;
    margin-top: 55px;
    color: #84829D;
}
section .area-3-right a{
    color: #2677F9;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

section .area-4{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 701px;
}
section .area-4-right img{
    position: absolute;
    width: 50%;
    height: 750px;
    right: 0;
}
section .area-4-right .linha{
    width: 100px;
    height: 8px;
}
section .area-4-right p{
    font-size: 15px;
    font-weight: 500;
    margin-top: 55px;
    color: #84829D;
}
section .area-4-right a{
    color: #2677F9;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
section .area-4-right img{
    position: absolute;
    width: 40%;
    height: 740px;
    margin-top: -10%;
    right: 0;
}
section .area-4-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section .area-4-left .sub-class-linha{
    display: flex;
    flex: end;
}
section .area-4-left h3{
    color:#5611A5;
    margin-top: 45px;
    margin-bottom: 50px;
}
section .area-4-left p{
   color:#84829D;
}
section .area-4-left a{
    color:#2677F9;
    font-weight: bold;
    text-decoration: none;
}
section .area-4-left #here{
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid transparent; 
    border-image: linear-gradient(to right, #7C21E8 40%, #26DFF9 10%,#26DFF9 50%); 
    border-image-slice: 1; 
    color:#5611A5;
    font-weight: bold;
}
.sub-class-linha .lh,
.download{
    display: flex;
    justify-content: flex-start;
}
section .area-5{
    background-image: url('../imagens/img-fundo-4-teste-programador.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: inherit;
}
.aplicativo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.aplication{
    margin-left: 400px;
    height: 300px;
}
section .area-5 p{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 1000;
    color: #531894;
}
section .area-5 .app img:first-child{
    margin-right: 40px;
}
section .area-5 .app img{
    width: 160px;
    height: 45px;
    cursor: pointer;
}
section .area-5 .linha{
    display: flex;
    justify-content: flex-start;
}
section .area-5 .linha .lh-left:first-child{
    width: 30px;
    height: 8px;
    background-color: #E2DFFF;
}
section .area-5 .linha .lh-right:nth-child(2){
    width: 65px;
    height: 8px;
    background-color: #ffffff;
}
section .area-6{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .area-6 h1{
    font-size: 32px;
    color: #5611A5;
}
section .area-6 .register img{
    width: 120px;
    height: 7px;
    margin-top: 30px;
}
section .area-6 .seta img{
    width: 50px;
    height: 55px;
    cursor: pointer;
}
.sub-container{
padding-top: 70px;
padding-bottom: 70px;
}
.cont-footer{
    display: flex;
    flex-direction: column;
}
footer{
    background-image: url('../imagens/fundo-footer-teste-programador.png.jpg');
    background-size: cover; /* ou outra opção, dependendo do efeito desejado */
    background-position: center; /* ou outra posição desejada */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    padding-top: 50px;
    height: 500px;
    color: #ffffff;
}
.footer{
    margin-top: 30px;
}
footer p{
    font-size: 13px;
}
footer h2{
    font-size: 20px;
}
.cont-footer{
    display: flex;
    height: inherit;
}
.footer-conter1{
    width: 100%;
}
.footer-conter2{
    background-color: #706f81;
    width: 100%;
    height: 1px;
    margin-top: 70px;
}
.conter1{
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.conter1 .footer:nth-child(2){
    margin-left: 90px;
}
.footer-conter2{
    height: 1px;
    width: 100%;
}
.footer-conter3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}
footer .ft{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

footer .ft img{
   width: 27px;
   height: 27px;
   margin-right: 5px;
}
.footer-ano{
    display: flex;
    align-items: center;
}
.footer-ano img{
   width: 13px;
   height: 13px;
   margin-right: 5px;
}
footer .medias-socias{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .medias-socias img{
    width: 18px;
    height: auto;
    cursor: pointer;
}
footer .medias-socias img:nth-child(-n+4){
   margin-right: 23px;
}

.area1-left h1 {
    animation: entrarNaPagina 1s ease-out;
  }

@keyframes entrarNaPagina {
    from {
      opacity: 0;
      transform: translateY(25px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media(max-width:569px){
    header{
        height: 80px;
        margin-bottom: 0;
    }
    header .logo img {
        width: 100px;
        height: 30px;
    }
    .menu-icon{
        display: flex;
    }
    .menu{
        display: none;
    }
    .menu nav ul{
        flex-direction: column;
        display: flex;
        position: absolute;
        padding: 10px;
        margin-top: 40px;
        left: 0;
        width: 100%;
        background-color: #79b2f3;
        z-index: 1;
    }
    .menu nav ul a{
        color: #ffffff;
    }
    .menu nav ul li{
        margin-bottom: 10px;
    }
    ul li:nth-child(5),
    ul li:nth-child(6){
    display: flex;
}
    .log {
        display: none;
    }
    section .area1-left button {
        width: 80px;
        padding: 6px 15px 6px 15px;
        font-size: 14px ;
    }
    section .area1 h1 {
        font-size: 40px;
    }
    .container .area1,
    section .area-4{
        flex-direction: column;
        height: auto;
    }
    section{
        width: auto;
    }
    section .area1-right{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    section .area1-right img,
    section .area-4-right img,
    section .area-3-left img {
        width: 250px;
        height: 290px;
        position: relative;
    }
    .linha{
        margin: auto;
    }
    .linha .lh{
        margin-top: 25px;
    }
    .linha .lh .l-h:first-child{
        width: 10px;
        height: 5px;
    }
    .linha .lh .l-h:nth-child(2){
        width: 30px;
        height: 5px;
    }
    section .area-3-right .linha{
        width: 30px;
        height: 5px;
    }
    section .area-2 h1 {
        font-size: 25px;
        margin-top:20px;
        margin-bottom:20px;
    }
    section .area-2 .how-started {
        width: 100%;
    }
    section .area-2 .how-started .how--started img {
        width: 150px;
        height: auto;
        padding-left: 10px;
    }
    .area-3{
        flex-direction: column-reverse;
    }
    section .area-3-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .area-3-right p,
    section .area-3-right a {
        font-size: 13px;
    }
    section .area-3-left,
    section .area-4-right {
        display: flex;
        justify-content: center;
    }
    section .area-3-left img {
        position: relative;
        margin-top: -20px;
        margin-bottom: 30px;
    }
    section .area-4-right img {
        margin-top: 10px;
    }
    section .area-4-left p {
        font-size: 12px;
        margin-top: -20px;
    }
    section .area-4-left #here{
        font-size: 12px;
    }
    .sub-class-linha{
        width: 50px;
        height: 0,2px;
        margin-top: -50px;
    }
    section .area-5 p {
        font-size: 18px;
    }
    section .area-5 .linha .lh-left:first-child{
        width: 10px;
        height: 5px;
    }
    section .area-5 .linha .lh-right:nth-child(2){
        width: 30px;
        height: 5px;
    }
    section .area-5 p {
        font-size: 15px;
        width: 200px;
    }
    section .area-5 .app img {
        width: 120px;
        height: 35px;
    }
    .sub-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    section .area-6 {
        flex-direction: column;
    }
    section .area-6 h1 {
        font-size: 20px;
    }
    section .area-6 .register img {
        width: 50px;
        height: 2px;
        margin-top: 20px;
    }
    section .area-6 .seta img {
        width: 30px;
        height: 35px;
        margin-top:30px ;
        margin-bottom: 30px;
    }
    .aplication{
        margin-left: 0;
        width: 150px;
    }
    .conter1{
        flex-direction: column;
    }
    .conter1 .footer:nth-child(2) {
        margin-left: 0;
    }
    footer{
        height: 100%;
        padding-bottom: 5px;
    }
    .footer img{
        border-radius: 10px;
    }
    .footer-conter3{
        flex-direction: column;
    }
    footer .medias-socias img{
        width: 20px;
        height: auto;
    }
}
@media(min-width:570px) and (max-width:768px){
    .log {
        display: none;
    }
    .menu{
        display: none;
        margin-top: 0;
    }
    .menu nav ul{
        flex-direction: column;
        display: flex;
        position: absolute;
        padding: 10px;
        margin-top: 40px;
        left: 0;
        width: 100%;
        background-color: #79b2f3;
        z-index: 1;
    }
    .menu nav ul a{
        color: #ffffff;
    }
    .menu nav ul li{
        margin-bottom: 10px;
    }
    .menu-icon{
        display: flex;
    }
    ul li:nth-child(5),
    ul li:nth-child(6){
    display: flex;
    }

    .container .area1,
    section .area-4{
        flex-direction: column;
        height: auto;
    }
    section .area1-right img {
        width: 300px;
        height: 350px;
        position: absolute;
        right: 0;
    }
    section .area-3-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .area-3-left img {
        position: absolute;
        width: 35%;
        height: 400px;
        margin-top: 200px;
    }
    section .area-3-right .linha{
        margin-top: 20px;
    }
    section .area-4-left .sub-class-linha {
        margin-top: 0;
    }
    section .area-4-right img {
        width: 35%;
        height: 400px;
        margin-top: -180px;
    }
    .aplicativo {
        margin-top: 150px;
    }
    section .area-5 p {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 200px;
        font-size: 15px;
        width: 300px;
    }
    section .area-5 .app img{
        width: 100px;
        height: 30px;
    }
    section .area-6 h1 {
        font-size: 20px;
    }
    section .area-6 .seta img {
        width: 40px;
        height: 30px;
        cursor: pointer;
    }
    .footer img{
        width: 100px;
        height: 35px;
    }
    footer h2 {
        font-size: 18px;
    }
    footer p{
        font-size: 12px;
    }
    .footer-conter2 {
        margin-top: 50px;
    }
}
@media(min-width:769px) and (max-width:1150px){
    header,
    .log .sign-up button {
        font-size: 10px;
    }
    .log .in1 img {
        width: 12px;
        height: 15px;
    }
    .log-in {
        margin-left: 30px;
    }
    ul li:nth-child(-n+3){
        margin-right: 25px;
    }
    .menu {
        margin-right: 0;
    }
    header .logo img {
        width: 100px;
        height: 30px;
    }
    section .area1-right img {
        width: 380px;
        height: 520px;
    }
    section .area1 h1 {
        font-size: 40px;
    }
    section .area1-left button {
        width: 100px;
        height: auto;
        font-size: 16px;
        padding: 6px 15px 6px 15px;  
    }
    .linha{
        margin-top: 0;
    }
    section .area-2 h1 {
        font-size: 25px;
    }
    section .area-3-left img {
        width: 40%;
        height: 600px;
    }
    section .area-4-right img {
        width: 40%;
        height: 740px;
        margin-top: -100px;
    }
    section .area-4-left {
        width: 400px;
    }
    .sub-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    section .area-6 h1 {
        font-size: 25px;
    }
}




